.todo-bg-container {
    width: 100%;
    height: 100vh;
}

.todolist-container {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
}

.todolist-container li {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.todo-title {
    text-align: center;
}
